link(rel="stylesheet", href="app.css", data-inline)

p Hi #{name},


p Project selling agrement is signed .
br
p Pkease download the document, it will be abalibale for download in the next 7 days
table
  tr
    td(class="button")
      a(href=url)
        b Download File
p
  | Thanks,#[br]
  | Brikoin Team
img(class="logo" src="cid:BrikoinLogo")