link(rel="stylesheet", href="app.css", data-inline)

p Hi #{name},

h3 Thank you for the intrest in #{projectName} 

p Your purchase request has been wrritten in Brikoin's secured blobkchain.
br
p We'll keep you posted for any change, you can also track your purchase status at any time:
table
  tr
    td(class="button")
      a(href=serverURL + 'holdings')
        b Purchase Status
p
  | Thanks,#[br]
  | Brikoin Team
img(class="logo" src="cid:BrikoinLogo")