link(rel="stylesheet", href="app.css", data-inline)

p Hi #{name},

h3 Group invitation
p you have been invited by #{inventor} to become part of his investing group in #{projectName}
br
table
  tr
    td(class="button")
      a(href=serverURL + 'groups/' + project )
        b View Group


p
  | Thanks,#[br]
  | Brikoin Team
img(class="logo" src="cid:BrikoinLogo")