link(rel="stylesheet", href="app.css", data-inline)

p Hi #{name},

h3 New investment proposal

p Please check your working cases a user signed trustee agreement
b
table
  tr
    td(class="button")
      a(href=serverURL + 'operationManagement' )
        b Operations
p
  | Thanks,#[br]
  | Brikoin Team
img(class="logo" src="cid:BrikoinLogo")