link(rel="stylesheet", href="app.css", data-inline)

p Hi #{name},

h3 Welcome to Brikoin platform

p Thanks you for joining brikoin real estate platform
b
p Check out our new available projects on our web site
table
  tr
    td(class="button")
      a(href=serverURL + 'projects' )
        b Projects
p
  | Thanks,#[br]
  | Brikoin Team
img(class="logo" src="cid:BrikoinLogo")